<style>
  * {
    font-family: verdana;
    font-weight: normal;
  }

  page {
    position: relative;
    padding:.25cm;
  }

  .right{
    text-align: right;
  }

  table {
    width: 100%;
    border: solid 0px red;
    border-collapse: collapse;
  }

  .pageHeader {
    background-color: #0191c8;
    color: white;
  }

  .pageHeader th {
    border-bottom: none;
  }

  .pageFooter {
    position: absolute;
    bottom: 0px;
    background-color: #0191c8;
    color: white;
  }

  th {
    text-align: left;
    padding: 0 10px;
    font-size: larger;
    border-bottom: solid 1px #ccc;
  }

  td {
    padding: 0 10px;
  }

  .GroupHeader {
    font-weight: bold;
  }
</style>

<span *ngIf="pagedReport">

  <page size="A4" *ngFor="let page of pagedReport">
    <div style="position: relative; height:100%;">
      <ng-container *ngFor="let table of page">
        <div *ngIf="table.title" [style.height]="table.title.height + 'cm'" [class]="table.title.className">
          {{table.title.text}}
        </div>
        <table cellspacing="0" [class]="table.className">
          <tr *ngIf="table.head" [style.height]="table.rowHeight + 'cm'">
            <th *ngFor="let cell of table.head">
              {{cell}}
            </th>
          </tr>
  
          <tr *ngFor="let row of table.rows" [style.height]="table.rowHeight + 'cm'">
            <td
              [class]="cell.className"
              [attr.colspan]="cell.colspan"
              *ngFor="let cell of row"
              [innerHTML]="cell.text"
            ></td>
          </tr>
        </table>
      </ng-container>
    </div>
  </page>


</span>